adium-theme-ubuntu==0.3.4
backports.shutil-get-terminal-size==1.0.0
certifi==2017.7.27.1
chardet==3.0.4
cloudconvert==1.0.0
cryptography==1.7.1
decorator==4.0.11
Django==1.11.3
django-cors-headers==2.1.0
enum34==1.1.6
gyp==0.1
idna==2.5
ipaddress==1.0.17
ipython==5.1.0
ipython-genutils==0.1.0
keyring==10.3.1
keyrings.alt==2.2
mod-pywebsocket==0.7.9
mysql==0.0.1
MySQL-python==1.2.5
mysqlclient==1.3.10
pathlib2==2.1.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
ptyprocess==0.5.1
pyasn1==0.1.9
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.22.0
pytz==2017.2
pyxdg==0.25
requests==2.18.3
SecretStorage==2.3.1
simplegeneric==0.8.1
simplejson==3.11.1
six==1.10.0
sqlparse==0.2.2
traitlets==4.3.1
unity-lens-photos==1.0
urllib3==1.22
wcwidth==0.1.7
